
@import url('./fonts.scss');

:root {
    --fonts: 'Open Sans';
    --body: #E5E5E5;
    --color: #3F3F3F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonts);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: var(--fonts);
    background: var(--body);
    color: var(--color);
}

.container {
    max-width: 585px;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}

input, textarea, button {
    border: none;
    outline: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background: transparent;
}

button {
    cursor: pointer;
}