.navbar {
    padding: 20px 30px;
    background: #fff;

    &__title {
        font-size: 25px;
        font-weight: 700;
        line-height: 120%;
        color: #3F3F3F;
        text-transform: uppercase;
}
}

